<header>
    <h1><a href="/movies">MOVIES</a></h1>
    <form action="/movies/search" method="get">
        <input type="text" 
        name="search" id="search" 
        placeholder="Search"/>
    </form>
</header>